Package: LitecoinZSwingWalletUI.jar
Version: 0.69
Section: misc
Priority: low
Architecture: all
Description: LitecoinZ Desktop GUI Wallet 
Maintainer: ivan@vaklinov.com
Depends: default-jdk, litecoinz
